.git/
out/
tests/
.vscode/
infra/.terraform/
.terraform/
.mypy_cache/
.pytest_cache/
.github/
__pycache__/
.coverage
.coveragerc
coverage.xml
cog.toml
.pre-commit-config.yaml
CITATION.cff
CODE_OF_CONDUCT.md
LICENSE
README.md
